@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url(https://images2.alphacoders.com/742/742320.png);
  background-size: cover;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.img-container > span {
  position: unset !important;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.bg-card {
  background-color: #ffffffa6;
}

.father:hover {
  background-color: burlywood;
}

.month p:hover {
  color: rgb(180, 77, 26);
}

.nav-link {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44) no-repeat right bottom;
  background-size: 0px 2px;
  transition: background-size 0.5s;
}

.nav-link:hover {
  background-position: left bottom;
  background-size: 100% 2px;
}