html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.pos-relative {
  position: relative;
}
.display-flex {
  display: flex;
}
.justify-content-sb {
  justify-content: space-between;
}
.margin-b-10 {
  margin-bottom: 10px;
}
.margin-tb-10 {
  margin: 10px 0;
}
.width-30 {
  width: 30%;
}
.width-40 {
  width: 40%;
}
.width-100 {
  width: 100%;
}
.width-70 {
  width: 70%
}
.height-400 {
  height: 400px;
}
.padding {
  padding: 20px;
}
.padding-10 {
  padding: 10px;
}
.padding-5 {
  padding: 5px;
}
.center {
  margin-top: 50%;
  transform: translateY(-50%);
}
.border {
  border: 1px solid #ccc;
}
.border-radius {
  border-radius: 5px;
}
.border-radius-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.img-container > span {
  position: unset !important;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}


.card {
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.month {
  width: 30%;
  float: left;
}

.pay {
  width: 70%;
  float: left;
}

.type {
  display: inline-block;
  width: 30%;
  color: #101ad7;
  background-color: pink;
  margin: 10px 0 10px;
}

.money {
  background-color: pink;
  color: #101ad7;
}

.className {
  display: inline-block;
  width: 70%;
}

.detail1 {
  color: pink;
  margin-left: 10px;
  list-style-type: disc;
  list-style-position: inside;
}

.detail2 {
  color:green;
  margin-left: 20px;
  list-style-type: square;
  list-style-position: inside;
}