html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('/yourname.webp');
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.img-container > span {
  position: unset !important;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.card {
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.bg-card {
  background-color: #ffffffa6;
}

.month {
  
}

.pay {
  padding: 10px;
}

.rounded {
  background-color: #ffffffa6;
  border-radius: 20px;
}

.total {
  text-align: right;
  color: #e8176e;
  font-style: italic;
  font-size: large;
  font-weight: 500;
}

.father {
  padding: 5px;
  background-color: rgb(255 192 203 / 40%);
  color: #e8176e;
  margin: 10px 0;
  border: double 5px;
  border-radius: 10px;
  transition-property: background-color,font-size;
  transition-duration: 0.1s;
}

.father:hover {
  background-color: burlywood;
  font-size: 20px;
}

.fa-solid {
  margin-right: 10px;
}

.type {
  display: inline-block;
  width: 70%;
}

.money {
  display: inline-block;
  width: 30%;
  text-align: right;
}

.className {
  display: inline-block;
  width: 70%;
}

.detail1 {
  color: rgb(8 12 92);
  margin-left: 10px;
  list-style-type: disc;
  list-style-position: inside;
}

.detail2 {
  color: gray;
  margin-left: 20px;
  list-style-type: square;
  list-style-position: inside;
}

.mouse {
  cursor: pointer;
}

.box {
  display: flex;
  justify-content: space-between;
  color: rgb(4 4 5 / 71%);
  font-family: sans-serif;
}

.box2 {
  width: 50%;
  color: #01010f;
}

.month p {
  transition-property: color,font-size;
  transition-duration: 0.5s;
}

.month p:hover {
  color: rgb(21, 226, 234);
  font-size: 30px;
}